.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Container-Nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 10vh;
  background-color: #47494d;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #0f1d3a;
  min-height: 80vh;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin: 0px;
}
.About {
  margin: 10px;
  padding: 10px;
}

.card-deck {
  display: flex;
  justify-content: center;
}
.card {
  border: 2px solid #fff;
  margin: 10px;
  height: 20vh;
  width: 50%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-footer {
  background: #47494d;
  padding: 10px;
  height: 5em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
